<% if notice || alert || flash[:success] %>
<div class="mt-6 z-50 mx-auto max-w-4xl">
  <% if notice %>
  <div class="flex items-center justify-between p-4 mb-2 bg-blue-100 text-blue-700 font-bold rounded-lg shadow-md" data-controller="notification" data-notification-delay-value="10000">
    <p class="text-blue-700"><%= notice %></p>
    <button class="text-blue-900 hover:text-blue-700" data-action="click->notification#dismiss">&times;</button>
  </div>
  <% end %>

  <% if alert %>
  <div class="flex items-center justify-between p-4 mb-2 bg-red-100 text-red-800 font-bold rounded-lg shadow-md" data-controller="notification" data-notification-delay-value="10000">
    <p class="text-red-800"><%= alert %></p>
    <button class="text-red-900 hover:text-red-700" data-action="click->notification#dismiss">&times;</button>
  </div>
  <% end %>

  <% if flash[:success] %>
  <div class="flex items-center justify-between p-4 mb-2 bg-green-100 text-green-800 font-bold rounded-lg shadow-md" data-controller="notification" data-notification-delay-value="10000">
    <p class="text-green-800"><%= flash[:success] %></p>
    <button class="text-green-900 hover:text-green-700" data-action="click->notification#dismiss">&times;</button>
  </div>
  <% end %>

  <% flash.clear %>
</div>
<% end %>